$contrast-base-color: #090940;
$base-white: #fafafa;
$pure-white: #fff;
$text-color: #222;
$light-contrast: #7373f2;
$menu-icon: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28000, 000, 000%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e";
 
body{
    font-family: 'PT Serif'; 
    color: $text-color;
    font-size: 1.1em;
}

input, button, textarea{
    box-shadow: none !important;
    border: none !important;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 3;
    

    background-color: $pure-white;
    border-bottom: 1px solid #eaeaea;

    .navbar-brand{
        font-size: 2em;
    }

    .navbar-toggler-icon{
        background-image: url($menu-icon);
    }

    .nav{
        padding-bottom: 12px;

        .nav-item{
            position: relative;
            margin-top: 12px;
            z-index: 1;
            
            
        }
        .nav-link{
            color: $text-color;
            height: 40px;
            transition: translate 0.2s;

            &::before{
                content: "";
                display: block;
                position: absolute;
                left: 12px;
                bottom: 0;
                width: 0.8em;
                height: 80%;
                opacity: 30%;
                z-index: 0;
                background-color: #0000ff;
                transition: 0.2s;

            }
        }
        .nav-link:hover{
            translate: 4px 0;
            transition: translate 0.2s;

            &::before{
                transition: 0.2s;
                width: 70px;
            }
        }
    }
}

#hero-banner{
    position: relative;
    img{
        width: 100%;
        filter: brightness(75%);
    }

    .hero-text-container{
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-70%);
        color: $pure-white;
        h2{
            font-size: 2.4em;

        }
        
        p.hero-text{
            margin-top: 24px;
            font-size: 1.3em;
        }
    }
}

@media (min-width: 992px){
    .navbar {
        .nav{ 
            padding-bottom: 0px;
            .nav-item{
                margin-top: 0;
            }
        }
    }
}
